<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/assets/css/websocket.css}">

<script>

   var stompClient = null;
   var id = '[[${session.loginadm.adminid}]]';
   // 서버소켓에 연결
   function connect() {
      var socket = new SockJS('http://101.101.219.167/admin/ws');
      stompClient = Stomp.over(socket);
      stompClient.connect({}, function(frame) { 
         setConnected(true);
         console.log('Connected: ' + frame);
         stompClient.subscribe('/send', function(msg) { 
            $("#all").prepend(
                  "<h4>" + JSON.parse(msg.body).sendid +":"+
                  JSON.parse(msg.body).content1
                        + "</h4>");
         });
         stompClient.subscribe('/send/'+id, function(msg) { 
            $("#me").prepend(
                  "<h4>" + JSON.parse(msg.body).sendid +":"+
                  JSON.parse(msg.body).content1+":"+
                  JSON.parse(msg.body).content2
                        + "</h4>");
         });
         stompClient.subscribe('/send/to/'+id, function(msg) { 
            $("#to").prepend(
                  "<h4>" + JSON.parse(msg.body).sendid +":"+
                  JSON.parse(msg.body).content1
                        + "</h4>");
         });
      });
   }
   
   // 서버소켓에 연결끊기
   function disconnect() {
      if (stompClient !== null) {
         stompClient.disconnect();
      }
      setConnected(false);
      console.log("Disconnected");
   }
   
   // connect&disconnect버턴 활성화/비활성화
   function setConnected(connected) {
      if (connected) {
         $("#status").text("Connected");
      } else {
         $("#status").text("Disconnected");
      }
      
   }
   
   // 서버에 메세지 요청 메서드
   
   // sendAll
   function sendAll() {
      var msg = JSON.stringify({
         'sendid' : id,
         'content1' : $("#alltext").val()
      });
      stompClient.send("/receiveall", {}, msg);
   }
   
   // sendMe
   function sendMe() {
      var msg = JSON.stringify({
         'sendid' : id,
         'content1' : $('#metext').val()
      });
      stompClient.send("/receiveme", {}, msg);
   }
   
   // sendTo
   function sendTo() {
      var msg = JSON.stringify({
         'sendid' : id,
         'receiveid' : $('#target').val(),
         'content1' : $('#totext').val()
      });
      stompClient.send('/receiveto', {}, msg);
   }
   $(document).ready(function() {
      $("#connect").click(function() {
         connect();
      });
      $("#disconnect").click(function() {
         disconnect();
      });
      $("#sendall").click(function() {
         sendAll();
      });
      $("#sendme").click(function() {
         sendMe();
      });
      $("#sendto").click(function() {
         sendTo();
      });
   });
</script>


<!-- Page Heading -->
<div class="container justify-contecnt-center">
<div class="col-md-8" >
<div class="d-sm-flex align-items-center justify-content-between mb-4">
   <h1 class="h3 mb-0 text-gray-800">Web Socket</h1>
</div>

<H1 th:text="${session.loginadm.adminid}">ID</H1>
<H1 id="status">Status</H1>
<button id="connect">Connect</button>
<button id="disconnect">Disconnect</button>

<h3>All</h3>
<input type="text" id="alltext">
<button id="sendall">Send</button>
<div id="all"></div>

<h3>Me</h3>
<input type="text" id="metext">
<button id="sendme">Send</button>
<div id="me"></div>

<h3>To</h3>
<input type="text" id="target">
<input type="text" id="totext">
<button id="sendto">Send</button>
<div id="to"></div>
</div>
</div>