<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.AdmMapper">
	
	<select id="select" parameterType="String" resultType="AdmDTO">
		SELECT * FROM adm WHERE adminid=#{adminid}
	</select>
	<select id="selectall" resultType="AdmDTO">
		SELECT * FROM adm
	</select>
	<insert id="insert" parameterType="AdmDTO">
		INSERT INTO adm VALUES (#{adminid},#{adminpwd})
	</insert>
	<update id="update" parameterType="AdmDTO">
		UPDATE adm SET adminpwd=#{adminpwd} 
		WHERE adminid=#{adminid}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM adm WHERE adminid=#{adminid}
	</delete>
	
</mapper>