@charset "UTF-8";

#all {
   width: 400px;
   height: 200px;
   overflow: auto;
   border: 2px solid red;
}

#me {
   width: 400px;
   height: 200px;
   overflow: auto;
   border: 2px solid blue;
}

#to {
   width: 400px;
   height: 200px;
   overflow: auto;
   border: 2px solid green;
}